<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Countries</h1>

      <select (change)='onChange($event.target.value)' name="" id="">
        <option  value="choose">Chose a Country</option>
        <option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</option>
      </select>

      <div *ngIf='countryChosen'>
        <h1>Confirmed</h1>
        <p> {{ countryChosen.confirmed.value }}</p>
        <h1>Recovered</h1>
        <p> {{ countryChosen.recovered.value }}</p>
        <h1>Deaths</h1>
        <p> {{ countryChosen.deaths.value }}</p>
      </div>

    </div>
  </div>
</div>
