<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Countries</h1>

      <select class="mb-5 mt-3" (change)='onChange($event.target.value)' name="" id="">
        <option  value="choose">Chose a Country</option>
        <option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</option>
      </select>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div *ngIf='countryChosen' style="display: block;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barChartColors">
        </canvas>
      </div>
    </div>
    <div class="col-md-6">
      <app-map *ngIf='countryChosen'></app-map>
    </div>
  </div>




</div>


